* {
  font-size: 62.5%;
  margin: 0rem;
  padding: 0rem;
  border: none;
  --default_letter_spacing: 0.1rem;
  --branco: #fff;
  --gray_0: #ddd;
  --azul_0: #209cff;
  --verde_0: #68e0cf;
  --gray_1: rgba(120, 120, 120, 0.3);
  --gray_2: #7a7a7a;
  --gray_3: #2d2d2d;
  --light_green: #6bc399;
  --dark_green: #005357;
  --transparent: #ffffff00;
  --largura_menu: 60rem;
}

body {
  font-family: "roboto", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--azul_0) 0%,
    var(--verde_0) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--gray_3);
}

a {
  text-decoration: none;
  color: var(--gray_3);
}

/* Menu */

header {
  display: flex;
  align-content: center;
  background-color: var(--branco);
  width: 100%;
  max-width: var(--largura_menu);
  position: fixed;
  top: 0;
  left: calc(50% - var(--largura_menu) / 2);
  z-index: 1000;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.3);
}

.menu {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 4rem;
}

.menu .material-symbols-outlined {
  font-size: 4rem;
}

.menu a {
  width: 100%;
  height: 8rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linha::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0.1rem;
  height: 100%;
  content: "";
  background-color: var(--gray_1);
}

.brilho:hover {
  transform: scale(1.1);
  color: var(--azul_0);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

/* Conteúdo */

main {
  margin-top: 10rem;
}

section {
  display: block;
}

.container {
  max-width: var(--largura_menu);
  box-sizing: border-box;
  position: relative;
  background: var(--branco);
  text-align: center;
  z-index: 10;
  border-radius: 1rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-decoration: none;
  font-weight: 400;
}

.fundo {
  height: 60rem;
  background-color: var(--branco);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 30px 20px 30px 20px;
}

.vazio {
  height: 20rem;
  flex-grow: 1;
}

.container_foto {
  flex-grow: 1;
}
.foto {
  height: 20rem;
  border-radius: 50%;
}

.apresentacao_texto {
  flex-grow: 1;
}

.nome {
  font-size: 2.5rem;
}

.profissao {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--azul_0);
}

.redes_sociais i {
  font-size: 2rem;
  margin: 0.5rem;
}

.borda {
  border: 1px solid red;
}

.redes_sociais i:hover {
  scale: 1.1;
  color: var(--azul_0);
}

.fundo_conteudo {
  height: 60rem;
  background-color: var(--branco);
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 3rem 2rem 3rem 2rem;
}

/* Sobre */

.sobre {
  margin-top: 2rem;
}

.titulo {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  border: 1px solid red;
  letter-spacing: var(--default_letter_spacing);
}

.sobre_texto p {
  font-size: 1.5rem;
  letter-spacing: var(--default_letter_spacing);
}

.sobre_texto {
  text-align: left;
  padding: 2rem 0 2rem 0;
}

.tipos_servicos,
.tipos_formacao {
  border: 1px solid red;
  text-align: left;
}

.tipos_servicos span,
.tipos_formacao span {
  font-size: 5rem;
  color: var(--azul_0);
}

.tipos_servicos h4,
.tipos_formacao h4 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

.tipos_servicos p,
.tipos_formacao p {
  font-size: 1.5rem;
}

.grade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grade_sobre {
  padding: 2rem 0 0 0;
}

/* Formação */

.fundo_formacao {
  height: auto;
}

.formacao {
  margin-top: 2rem;
}

.titulo_formacao {
  padding: 0 0 1rem 0;
}

.periodo {
  color: var(--gray_2);
  padding-top: 1rem;
}

.tipos_formacao {
  height: 10rem;
}

.tipos_formacao h4 {
  font-weight: 500;
}

.titulo {
  border: 0.2rem solid;
  border-image: linear-gradient(
      to right,
      var(--azul_0) 0%,
      var(--verde_0) 10%,
      var(--branco) 30%
    )
    1;
  border-top: var(--branco);
  padding-left: 5px;
}

.titulo_borda {
  border: 0.2rem solid;
  border-image: linear-gradient(
      to right,
      var(--azul_0) 0%,
      var(--verde_0) 30%,
      var(--branco) 60%
    )
    1;
  border-top: var(--branco);
  padding-left: 5px;
}

.borda_lateral {
  padding-left: 0.5rem;
  border: 0.1rem solid;
  border-image: linear-gradient(
      to bottom right,
      var(--azul_0) 60%,
      var(--verde_0) 70%,
      var(--branco) 90%
    )
    1;

  border-top: var(--branco);
  border-right: var(--branco);
}

/* Portfólio */
.fundo_portfolio {
  height: auto;
}

/* Contato */

#area_contato {
  text-align: left;
}

.contato {
  margin-top: 2rem;
}

.formulario label,
.formulario input,
.formulario textarea {
  font-size: 2rem;
}

.formulario label,
.formulario button {
  display: block;
  margin-top: 1rem;
}

.formulario input,
.formulario textarea {
  border: 0.1rem solid;
  border-image: linear-gradient(
      to bottom right,
      var(--azul_0) 0%,
      var(--verde_0) 100%
    )
    1;
}

.formulario input {
  padding: 0.5rem;
  width: 40rem;
}

.formulario textarea {
  resize: none;
  font-family: "roboto", sans-serif;
  padding: 0.5rem;
  width: 40rem;
  height: 20rem;
}

.formulario button {
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #2d2d2d;
  background-color: #209bff9b;
  border: none;
  border-radius: 0.3rem;
}

/* Rodapé */

footer {
  height: 5rem;
}
